@font-face {
  font-family: 'UnisonPro';
  src: url('/fonts/unison-pro-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ErasITC';
  src: url('/fonts/eras-itc-bold.woff2') format('woff2'),
       url('/fonts/eras-itc-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
